.main-screen {
  background-color: black;
}

/* Navbar */
.custom-nav {
  font-family: "Bai Jamjuree", sans-serif;
  color: white;
}

.nav-item {
  padding: 0 -50px;
}

.img-nav {
  display: inline-block;
  height: 66px;
  width: 66.73161315917969px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
}
