.main-screen {
  background: black;
}

/* Navbar */
.custom-nav {
  font-family: "Bai Jamjuree", sans-serif;
  position: relative;
  z-index: 1;
}

.custom-nav .nav-link {
  color: #ffffff;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 -50px;
}

.img-nav {
  display: inline-block;
  height: 66px;
  width: 66.73161315917969px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
}

.navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}



.custom-dropdown .dropdown-menu {
  background-color: #000;
  border: none;
  border-radius: 0;
  box-shadow: none;
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  width: 100vw;
  left: 0;
  right: 0;
}


.custom-dropdown .dropdown-item {
  color: white;
}

.custom-dropdown .dropdown-item:hover {
  background-color: transparent;
  color: purple;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
